body{
  font-family: 'Source Sans Pro', sans-serif;
  background: #30c3a6;
  display: block;
  text-align: center;
  border: 0;
  padding: 0;
  margin: 0;
}
a{
  color: #000000;
  text-decoration: none;
}
nav, .about{
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  border: 0;
}
nav{
  padding: 40px 0;
}
nav ul li{
  padding: 40px;
  text-align: right;
}
nav ul li:first-child{
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
ul li {
  text-decoration: none;
  list-style: none;
  display: inline;
}
.content{
  color: #FFFFFF;
  padding: 5% 10%;
}
.content button{
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  padding: 5px 10px;
}
.about {
  padding: 5% 10%;
}
.about h1{
  z-index: 1;
  overflow: hidden;
  padding: 3%;
}
.about h1:before, .about h1:after{
  content: "";
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 50%;
  height: 1px;
}
.about h1:before {
    right: 0.5em;
    margin-left: -50%;
}
.about h1:after {
    left: 0.5em;
    margin-right: -50%;
}
.photos{
  display: inline;
  padding: 5% 10%;
}
footer{
  background: #000000;
  color: #FFFFFF;
}

ul li figure img{
  border: 10px solid #FFFFFF;
}
figure figcaption{
}

